@font-face {
  font-family: 'Clean'; /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF55F.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
  font-family: 'Clean1'; /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF56F.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}


@font-face {
  font-family: 'Clean2'; /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF75F.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
  font-family: 'Clean3'; /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF76F.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}


@font-face {
  font-family: 'CodePro'; /* ָל רנטפעא */
  src: url(../fonts/sourcecodepro/SourceCodePro-Medium.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}