@import 'fonts';
@import 'variables';
@import 'mixins';



body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'Clean1';
  overflow-x: hidden;
  background-color: $background-color;
  color: $text-color;
}

.hidden {
  display: none;
}

header {
  padding: 20px;
  font-family: sans-serif;
  .navigation {
    padding: 20px;
    background-color: $navigation-color;
    color: $text-color;
    box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.3);
    .container {
      li{
        a {
          color: #080808;
          font-family: 'CodePro';
        }
      }
    }

  }
}

.main-content {
  .text-block {
    margin-top: 100px;
  }
  .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: -50%;
    right: -40%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
  }
  .thumbnail {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 3.428571;
    background-color: rgba(255, 255, 255, 0.82);
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    .buttons-cards {
      padding: 9px;
      margin-top: 25px;
    }
  }
  .card-image {
    height: 250px;
  }
  .text-content {
    position: relative;
  }
  .text {
    font-size: 30px;
    span {
      font-family: 'Clean3';
    }
  }
  .author {
    font-family: 'Clean3';
    span {
      font-family: 'Clean1';
    }
  }
}

//ALWAYS END
@import 'media';