@import 'fonts';
@import 'variables';
@import 'mixins';



body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'Clean1';
  overflow-x: hidden;
  background-color: $background-color;
  color: $text-color;
}

.hidden {
  display: none;
}

header {
  padding: 20px;
  font-family: sans-serif;
  .navigation {
    background-color: $navigation-color;
    color: $text-color;
  }
}

.main-content {
  padding: 150px 0;
  .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: -50%;
    right: -40%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
  }
  .text-content {
    position: relative;
  }
  .text {
    font-size: 30px;
    span {
      font-family: 'Clean3';
    }
  }
  .author {
    font-family: 'Clean3';
    span {
      font-family: 'Clean1';
    }
  }
}

//ALWAYS END
@import 'media';