@charset "UTF-8";
@font-face {
  font-family: 'Clean';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF55F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean1';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF56F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean2';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF75F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean3';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF76F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'Clean1';
  overflow-x: hidden;
  background-color: #FCEB57;
  color: #000; }

.hidden {
  display: none; }

header {
  padding: 20px;
  font-family: sans-serif; }
  header .navigation {
    background-color: #FCFCFC;
    color: #000; }

.main-content {
  padding: 150px 0; }
  .main-content .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: -50%;
    right: -40%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0; }
  .main-content .text-content {
    position: relative; }
  .main-content .text {
    font-size: 30px; }
    .main-content .text span {
      font-family: 'Clean3'; }
  .main-content .author {
    font-family: 'Clean3'; }
    .main-content .author span {
      font-family: 'Clean1'; }
