@charset "UTF-8";
@font-face {
  font-family: 'Clean';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF55F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean1';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF56F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean2';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF75F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'Clean3';
  /* ָל רנטפעא */
  src: url(../fonts/ptserif/PTF76F.ttf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

@font-face {
  font-family: 'CodePro';
  /* ָל רנטפעא */
  src: url(../fonts/sourcecodepro/SourceCodePro-Medium.otf);
  /* ֿףע ך פאיכף סמ רנטפעמל */ }

body {
  font-size: 16px;
  min-width: 320px;
  height: 100%;
  position: relative;
  line-height: 1.6;
  font-family: 'Clean1';
  overflow-x: hidden;
  background-color: #FCEB57;
  color: #000; }

.hidden {
  display: none; }

header {
  padding: 20px;
  font-family: sans-serif; }
  header .navigation {
    padding: 20px;
    background-color: #FCFCFC;
    color: #000;
    box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.3); }
    header .navigation .container li a {
      color: #080808;
      font-family: 'CodePro'; }

.main-content .text-block {
  margin-top: 100px; }

.main-content .circle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  top: -50%;
  right: -40%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 0; }

.main-content .thumbnail {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 3.428571;
  background-color: rgba(255, 255, 255, 0.82);
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out; }
  .main-content .thumbnail .buttons-cards {
    padding: 9px;
    margin-top: 25px; }

.main-content .card-image {
  height: 250px; }

.main-content .text-content {
  position: relative; }

.main-content .text {
  font-size: 30px; }
  .main-content .text span {
    font-family: 'Clean3'; }

.main-content .author {
  font-family: 'Clean3'; }
  .main-content .author span {
    font-family: 'Clean1'; }

footer {
  margin-top: 20px; }
  footer a {
    margin-left: 10px; }
